@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;300;400;500;600;700&display=swap");
.container {
  background-color: white;
  border-radius: 20px;
  margin: 5%;
  padding: 60px 70px;
  box-shadow: 0 50px 60px -25px rgba(77, 108, 203, 0.31);
  font-family: "IBM Plex Sans", sans-serif;
  color: #0f1730;
  position: relative;
}

button {
  cursor: pointer;
}

.closeButton {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px;
  width: 51px;
  height: 51px;
  background: none;
  border: none;
  border-radius: 5px;
}

.closeButton:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 28px;
  font-style: normal;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 31px;
}

.optionLabel {
  font-size: 16px;
  font-weight: 500;
  color: black;
  line-height: 21px;
  margin-bottom: 25px;
}

.radioGroup {
  display: flex;
  gap: 61px;
  margin-bottom: 40px;
}

.radio {
  display: flex;
  gap: 10px;
}

.radioLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #555b6d;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  margin: 5px 0;
}

.input {
  padding: 15px 20px;
  border: 1px solid #cfd4e2;
  border-radius: 5px;
  outline: none;
  resize: none;
  font-family: inherit;
  color: inherit;
  margin-bottom: 25px;
}

.input::placeholder {
  font-size: 16px;
  line-height: 21px;
}
