.container {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 10px -15px rgba(197, 192, 249, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.container:hover {
  box-shadow: 0 20px 20px -15px rgba(95, 83, 214, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}
