.container {
  transition: all 0.3s ease-in-out;
  box-shadow: 0 20px 10px -15px rgba(197, 192, 249, 0.2);
  background-color: rgba(255, 255, 255, 0.8);
}

.container:hover {
  box-shadow: 0 20px 20px -15px rgba(95, 83, 214, 0.2);
  transform: scale(1.02);
  cursor: pointer;
}

.preview {
  height: 315px;
  border-radius: 5px 5px 0 0;
  background-color: #bbb9d1;
  width: 100%;
}

.thumbnail {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.details {
  background-color: white;
  padding: 20px 15px;
  border-radius: 0 0 5px 5px;
  margin-top: -5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.date {
  font-size: 14px;
  opacity: 0.7;
}

.button {
  background-image: linear-gradient(to right, #68e4bc 0%, #4ad0d1 99%);
  border-radius: 5px;
  font-size: 14px;
  padding: 11px 15px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 12px 12px -11px #0db4afb8;
  background-size: 200% auto;
  color: white;
  border: none;
  width: 100px;
  height: fit-content;
  opacity: 0;
}

.container:hover .button {
  opacity: 1;
}
