.container {
  min-height: 48px;
  width: 100%;
  border-top: 1px solid #ebebf2;
  font-size: 12px;
  padding: 0 25px;
  background-color: white;
  position: fixed;
  z-index: 3;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #7d7a93;
}

.copyright {
  color: #bbb9d1;
}

.nav {
  display: flex;
  gap: 21px;
}
