.container {
  height: 70px;
  padding: 0 25px;
  position: fixed;
  width: 100%;
  z-index: 3;
  background-color: white;
  left: 0;
  top: 0;
  box-shadow: 0 10px 20px -7px rgba(160, 44, 219, 0.07);
  display: flex;
}

.content {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}

.counter {
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 12px;
  border-radius: 10px;
  padding: 10px 20px;
  text-align: center;
}

.count {
  font-weight: 700;
  font-size: 18px;
}
