.container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fcfcff;
}

.body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 48px;
}

.grid {
  max-width: 900px;
  padding: 15px 25px 50px;
  display: grid;
  grid-auto-flow: row dense;
  grid-gap: 25px;
}

@media screen and (min-width: 768px) {
  .grid {
    max-width: 1200px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  }
}
