* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: #242e4c;
}
